server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # All booking service endpoints
        - id: booking-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/user/**,/api/bookings/**,/api/admin/users/**,/booking-swagger/**
          filters:
            - StripPrefix=0

        # All hotel service endpoints
        - id: hotel-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/hotels/**,/api/rooms/**,/hotel-swagger/**
          filters:
            - StripPrefix=0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.web: INFO