server:
  port: 8082

spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:h2:mem:hoteldb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

jwt:
  secret: "sE6y9x2zA8d3w5r7B1u4v6c8M0q2l4n6p8r0t2v4b6m8z1x3c5v7b9m1k3j5h7g9f1d3s5a7q9w2e4"

logging:
  level:
    com.example.hotelservice: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,beans
  endpoint:
    health:
      show-details: always
      show-components: always
    info:
      enabled: true

springdoc:
  api-docs:
    path: /hotel-swagger/api-docs
  swagger-ui:
    path: /hotel-swagger/swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  default-produces-media-type: application/json